html body {
  background-color: hsla(45.714285714285694, 84%, 95%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2000 2000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 27% 35%,
      hsla(40.49999999999998, 57%, 86%, 1) 14%,
      transparent 71%
    );
  background-blend-mode: overlay, normal;
  font-family: "Montserrat", sans-serif;
}
